body {
  font-family: Chi-TownNF;
}

form {
  margin-left: 7vw;
}

label {
  display: block;
  position: absolute;
  margin-left: 8vw;
  width: 33vw;
}

label:nth-child(1) {
  top: 31.5vw;
}

label:nth-child(2) {
  top: 40vw;
}

label:nth-child(3) {
  top: 49vw;
}

label:nth-child(4) {
  top: 55vw;
  font-size: 3vmin;
}

select {
  display: block;
  width: 100%;
  height: 5vw;
  font-size: 2vw;

  /* clear */
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  outline: none;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  background: black;
}

.summary {
  position: absolute;
  left: 62vw;
  top: 25vw;
  right: 9vw;
  font-size: 2.5vmin;
  margin: 0;
}

.summary span {
  text-shadow:
   -0.3pt -0.3pt 0 #000,
    0.3pt -0.3pt 0 #000,
    -0.3pt 0.3pt 0 #000,
     0.3pt 0.3pt 0 #000;
}

button {
  font: inherit;
  overflow: visible;
  -webkit-appearance: button;
  padding: 6px 10px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
  outline: none;
}

button:active {
  background-image: -webkit-linear-gradient(top,#ccc,#ddd);
}