@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/typography";
@import "components/global";
@import "components/grid";
@import "components/forms/forms";

// app
body {
  font-family: Chi-TownNF;
}

.header .logo {
  position: relative;
  right: 19px;
  top: 28px;
}

.summary {
  @extend .input-field, .col;

  span {
    text-shadow:
    -0.3pt -0.3pt 0 #000,
      0.3pt -0.3pt 0 #000,
      -0.3pt 0.3pt 0 #000,
      0.3pt 0.3pt 0 #000;
  }
}
